<%- include('partials/main_nav') %>


<%- include('partials/header') %>

 
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <br class="my-4"></hr>
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Adaptable, Brilliant, Creative, and Detail-Oriented</p>
      <hr class="my-4">
      <div class="container">
        <div class="row">
          
          <div class="col-sm" style="text-align: center;">
            <figure class="figure">
                <img src="/Assets/images/picture.jpg" class="img-thumbnail" alt="Yiu Yiu Yoyo Ho" width="200">
                <figcaption class="figure-caption" style="text-align: left;">Yiu Yiu Yoyo Ho</figcaption>
              </figure>
          </div>

          <div class="col-sm">
            <p>I am now a Year 2 game programming student. I used to be an Economic student and I got my first job in a technology company after graduation. However, I found that I am interested in programming while I was working in the Customer Servive team, as one of my main duty was to communicate with the Product team for users' responses on the company application. </p>
            <br class="my-6">
            <p class="lead">
              <a class="btn btn-secondary btn-md" href="/Assets/doc/Resume.pdf " role="button" target="_blank">My resume</a>
            </p>
          </div>

        </div>
      </div>



    </div>

  </main>

  <%- include('partials/bottom_nav') %>

  <%- include('partials/footer') %>



