<%- include('partials/main_nav') %>


<%- include('partials/header') %>

 
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <br class="my-4"></br>
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Help is here. Whenever and however you need it.</p>
      <hr class="my-4">
      <p>User-friendly websites that drive potential customers to your business are aimed to be built.</p>
      <p>Exceptional web solutions are provided by combining creativity and functionality.</p>
      <p>The objective of empowering you with a strong online presence that makes your company stand out in the digital landscape is pursued.</p>

      <p class="lead">
        <br class="my-6">
        <a class="btn btn-secondary btn-md" href="/about" role="button">Learn more about me</a>
      </p>
    </div>

  </main>

  <%- include('partials/bottom_nav') %>

  <%- include('partials/footer') %>



