<%- include('partials/main_nav') %>


<%- include('partials/header') %>

 
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <br class="my-4"></hr>
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Sample projects. Want to have a look? Browse here.</p>
      <hr class="my-4">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="/Assets/images/game.png" alt="game" width="400">
          </div>
          <div class="col">
            <img src="/Assets/images/web.png" alt="web" width="400">
          </div>
          <div class="col">
            <img src="/Assets/images/sql.png" alt="sql" width="400">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p></p>
            <p style="text-align: left;">This is the first game developed! In Hotdog Smash: Battle of Ketchup and Mutstard, set on the yummy Hotdog Planet, the Mustard Aliens are launching an attack. Armed with ketchup cannons, let's defend the Hotdog planet and splat those Mustard invaders!</p>
          </div>
          <div class="col">
            <p></p>
            <p style="text-align: left;">A company's website is an important platform for exposing its remarkable services to a target audience. This sample website has been designed and developed by me, and a full set of professional website development services can be found here.</p>
          </div>
          <div class="col">
            <p></p>
            <p style="text-align: left;">Maintaining a strong database is essential for any company. Data management, reliability, and security, as well as aiding informed decision-making, can be enhanced with my assistance.</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="lead">
              <a class="btn btn-secondary btn-md" href="https://www.bit.ly/yobgames" role="button" target="_blank">Ketchup Attack!</a>
            </p>
          </div>
          <div class="col">
            <p class="lead">
              <a class="btn btn-secondary btn-md" href="http://studentweb.cencol.ca/yho45/TermProject/termProject_YiuYiuYoyoHo.html" role="button" target="_blank">Sample Website</a>
            </p>
          </div>
          <div class="col">
            <p class="lead">
              <a class="btn btn-secondary btn-md" href="/Assets/doc/Database.pdf" role="button" target="_blank">Presentation</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </main>

  <%- include('partials/bottom_nav') %>

  <%- include('partials/footer') %>



