<%- include('partials/main_nav') %>


<%- include('partials/header') %>

 
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <br class="my-4"></hr>
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Look for web development service? Find what services for you.</p>
      <hr class="my-4">
      <div class="container overflow-hidden text-center">
        <div class="row gy-5">
          <div class="col-6">
            <figure class="figure">
              <a class="nav-link" aria-current="page" href="/contact" target="_blank">
              <img src="/Assets/images/videogame.png" class="img-thumbnail" alt="Video Game Design" width="200" >
              <figcaption class="figure-caption" style="text-align: left;">Video Game Design</figcaption></a>
            </figure>
          </div>
          <div class="col-6">
            <figure class="figure">
              <a class="nav-link" aria-current="page" href="/contact" target="_blank">
              <img src="/Assets/images/uiux.png" class="img-thumbnail" alt="UI/UX Design" width="200">
              <figcaption class="figure-caption" style="text-align: left;">UI/UX Design</figcaption></a>
            </figure>
          </div>
          <div class="col-6">
            <figure class="figure">
              <a class="nav-link" aria-current="page" href="/contact" target="_blank">
              <img src="/Assets/images/database.png" class="img-thumbnail" alt="Data Base Design" width="200">
              <figcaption class="figure-caption" style="text-align: left;">Data Base Design</figcaption></a>
            </figure>
          </div>
          <div class="col-6">
            <figure class="figure">
              <a class="nav-link" aria-current="page" href="/contact" target="_blank">
              <img src="/Assets/images/graphic.png" class="img-thumbnail" alt="Graphic Design" width="200">
              <figcaption class="figure-caption" style="text-align: left;">Graphic Design</figcaption></a>
            </figure>
          </div>

        </div>
      </div>

    </div>

  </main>

  <%- include('partials/bottom_nav') %>

  <%- include('partials/footer') %>



